<html>

<head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
</head>

<body>
    <div id="nav">
        <nav-bar></nav-bar>
    </div>

    <div class="container" id="main-container">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div id="login">
                <login></login>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <foot></foot>
    </div>

    <!-- JS -->
    <script src="/static/js/index.bundle.js"></script>

</body>

</html>