<html>

<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item">
        <img src="/static/images/favicon-96x96.png" alt="ignite">
      </a>
                <a class="nav-item is-tab is-hidden-mobile is-active">首页</a>
                <a class="nav-item is-tab is-hidden-mobile">关于</a>
            </div>
            <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
            </span>
        </div>
    </nav>

    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1" id="ut">
                <user-table></user-table>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <ft></ft>
    </div>



    <!-- JS -->
    <script src="/static/js/bundle.js"></script>

</body>

</html>