<html>

<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item">
        <img src="/static/images/favicon-96x96.png" alt="ignite">
      </a>
                <a class="nav-item is-tab is-hidden-mobile is-active">首页</a>
                <a class="nav-item is-tab is-hidden-mobile">关于</a>
            </div>
            <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
            </span>
        </div>
    </nav>

    <div class="container">
        <div class="columns">
            <div class="column column is-10 is-offset-1">
                <p class="notification is-danger">Auto</p>
            </div>
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
                </p>
                <p>
                    <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
                </p>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="/static/js/bundle.js"></script>

</body>

</html>