<html>

<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div id="nav">
        <nav-bar></nav-bar>
    </div>

    <div class="container" id="ut">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <user-table></user-table>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <foot></foot>
    </div>

    <!-- JS -->
    <script src="/static/js/status.bundle.js"></script>

</body>

</html>