* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
}

#main-container {
    margin-top: 150px;
}

.table {
    width: 100%;
}

.iadmin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.iadmin_views {
  flex-grow: 1;
}

.iadmin_footer {
    padding: 30px 0;
    width: 100%;
}
